* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    overflow-y: hidden;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between; /* Añade esta línea */
    top: 0;
    width: 100vw;
    padding: 20px;
    background-color: #ffffff9d;
    backdrop-filter: blur(15px);
}

header nav ul li {
    position: relative;
    list-style: none;
    float: left;
}

header nav ul li a {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: #000;
    transition: 0.5s all;
}

.active {
    background: #9b59b6;
    color: #fff;
    border-radius: 50px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d4d4d7e;
    position: fixed;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.container,
.busqueda-container {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 50px;
    display: none;
}

.container.visible,
.busqueda-container.visible {
    max-width: 700px;
    width: 100%;
   display: block;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 230px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.busqueda-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.busqueda-container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 245px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details,
.serv-dom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box,
form .serv-dom-container .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details,
.serv-dom-container .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input,
.serv-dom-container .input-box input,
.user-info-input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid,
.serv-dom-container .input-box input:focus,
.serv-dom-container .input-box inpur:valid,
.user-info:focus,
.user-info:valid {
    border-color: #9b59b6;
}

form .serv-dom .serv-dom-title{
    font-size: 20px;
    font-weight: 500px;
}

form .serv-dom .decision-container {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.serv-dom .decision-container label {
    display: flex;
    align-items: center;
}

.serv-dom .decision-container .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

#ser-dom-si:checked ~ .decision-container label .one,
#ser-dom-no:checked ~ .decision-container label .two {
    border-color: #d9d9d9;
    background: #9b59b6;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input,
button {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover,
button {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    cursor: pointer;
}

form .button input:disabled,
button:disabled {
    background: linear-gradient(-135deg, #adadad, #4d4d4d);
    cursor: not-allowed;
}

.serv-dom-container {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
}

.serv-dom-container.visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all 0.7s;
}

@media (max-width: 584px), (max-height: 765px) {
    .container {
        max-width: 100%;
        height: auto;
    }

    form .user-details .input-box,
    form .serv-dom-container .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .serv-dom .decision-container {
        width: 100%;
    }

    .container form {
        max-height: 400px;
        overflow-y: scroll;
    }

    .container::-webkit-scrollbar {
        width: 0;
    }

    .serv-dom-container {
        display: none;
    }
    
    .serv-dom-container.visible {
        display: flex;
    }
    
}

.label-error {
    color: red;
    font-size: 0.8em;
}


select#colonia {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}


select#colonia option {
    padding: 10px;
}


select#colonia option:checked {
    background-color: #e9e9e9;
}

.search-container {
    margin-top: 10px;
    position: relative;
    width: 100%;
}

#miBusqueda {
    width: 100%;
    height: 40px;
    border: thin solid #9b59b6;
    border-radius: 5px;
    padding: 10px 40px 10px 10px;
    outline: none;
    font-size: 16px;
}

.search-container::before {
    content: "";
    background: url('./assets/img/search-icon.jpg') no-repeat center center;
    background-size: 30px 40px;
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translateY(-50%);
    width: 30px;
    height: 40px;
    margin-left: 10px;
}

button {
    margin-top: 10px;
}

.user-info {
    padding: 20px;
    max-height: 500px;
    overflow-y: scroll;
}